<ion-view ng-controller="addEditTableInfoCtrl" hide-nav-bar="true">
    <ion-content>
        <div>
            <h4 style="text-align:center;">Add Edit Table</h4>
            <div class="list">
                <label class="item item-input item-borderless">
                    <span class="input-label">Table Number :</span>
                    <input type="text" limit-char limit="10" ng-model="tableInfoObj.tableNumber">
                </label>
                <label class="item item-input item-borderless">
                    <span class="input-label">Table Description :</span>
                    <input type="text" limit-char limit="25" ng-model="tableInfoObj.tableDescription">
                </label>
                <label class="item item-input item-borderless">
                    <span class="input-label">Addtional Charges:</span>
                    <input type="number" ng-model="tableInfoObj.tableCharges">
                </label>
                <label class="item item-input item-borderless">
                    <span class="input-label">Occupancy Capacity :</span>
                    <input type="number" ng-model="tableInfoObj.tableCapacity">
                </label>
                <label class="item item-input item-borderless item-button-right" ng-click="openSectionModal()">
                    <span class="input-label">Section :</span>
                    <input type="text" id="Category" ng-model="tableInfoObj.tableSectionName" readonly="readonly">
                    <button class="button button-dark">Select Category</button>
                </label>
            </div>
            <div style="text-align:center;margin-top:2vh;">
                <button style="width:25vh;margin-right:2vh;" class='button button-dark' ng-click="saveTableInfo(tableInfoObj)">Save </button>
                <button style="width:25vh;" class='button button-dark' ng-click="closeView()">Close </button>
            </div>
        </div>
    </ion-content>
</ion-view>
