<ion-view hide-nav-bar='true' cache-view="false">
<ion-content style="text-align:center;" ng-controller="BlueToothCtrl" scroll=false>
 <div>
        <h2 style="text-align:center;"> Bluetooth Settings </h2>
    </div>
         <button class='button button-dark' ng-click="connect()">Connect </button>
         <button class='button button-dark' ng-click="disconnect()"> DisConnect </button>
         <button class='button button-dark' ng-click="testPrint()"> Test </button>
         <button class='button button-dark' ng-click="closeView()"> Close </button>
    <!-- <button class='button button-dark' ng-click="closeView()"> Close </button>
        <button ng-click="connect()">Connect</button>
        <button ng-click="disconnect()">Disconnect</button>
        <button ng-click="testPrint()">Test Print</button>-->
        <!--<button ng-click="">Print Image</button>-->
        <h3>Paired Devices</h3>   
        <ion-list>
          <ion-item ng-repeat = "device in pairedDevices" ng-click="selectDevice(device.name)">
           paired device - 
            {{device.name}}   --- Status : {{device.status}}
          </ion-item> 
        </ion-list>  
</ion-content>
</ion-view>