<ion-view hide-nav-bar='true' cache-view="false">
    <ion-content id="pwdChangeContent" ng-controller="passwordSettings" class="padding">
        <div>
            <h2 style="text-align:center;">Password Reset </h2>
        </div>
        <label class="item item-input">
            <input type="text" placeholder="Old Password" id="oldPassword" class="printerSettingtext" maxlength=10 ng-model="password.oldPassw"></input>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="New Password" id="newPassword" class="printerSettingtext" maxlength=10 ng-model="password.newPassw"></input>
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Repeat Password" id="repeatNewPassword" class="printerSettingtext" maxlength=10 ng-model="password.repeatNewPassw"></input>
        </label>
        <!-- <div class="padding" style="margin:2vh">
          <button type="submit"  ng-click="ChangePassword(password.oldPassw,password.newPassw,password.repeatNewPassw)"class="button button-block button-dark" style="margin:auto;width:70%">Save</button>
         </div>
         
         <button type="submit"  ng-click="cancel()"class="button button-block button-dark" style="margin:auto;width:70%">Cancel</button>
         -->
        <div style="text-align:center;margin-top:2vh;">
            <button style="width:25vh;margin-right:2vh;" class='button button-dark' ng-click="ChangePassword(password.oldPassw,password.newPassw,password.repeatNewPassw)">Save </button>
            <button style="width:25vh;;" class='button button-dark' ng-click="closeView()">Close </button>
        </div>
    </ion-content>
</ion-view>
