#product-billing {
    width: 36vw;
    margin-top: auto;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 0 5px -3px rgba(0,0,0,0.5);
    box-shadow: 10px 0 5px -3px rgba(0,0,0,0.5);
}

#paymentModel>.modal {
    top: 10%;
    left: 30%;
}

#productsView {
    width: 64vw;
}

#product {
    width: 100%;
    height: 100%;
    padding: 0vh;
    display: flex;
    display: -webkit-flex;
}

#product-display {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    webkit-flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
}

#product-billing-head {
    width: 100%;
    height: 8vmin;
}

.icon_text {
    position: relative;
    text-align: center;
    color: white;
    top: 8px;
    font-size: 2vmin;
}

.element {
    text-align: center;
    text-decoration: none;
    color: white;
}

.button-circle {
    width: 13vmin;
    height: 13vmin;
    color: white;
    border-radius: 50%;
    background-color: transparent;
    border: .5vmin solid rgba(255, 255, 255, .5);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.col.col-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#product-categary {
    position: absolute;
    width: 64vw;
    height: 14.5vh;
    display: inline-block;
    bottom: 3px;
    line-height: 10vh;
    z-index: 0;
}

.product-categary-scroll {
    top: 0px;
    width: 100%;
    
    position:relative;
    overflow-x: scroll;
    white-space: nowrap;
}


.product-categary-button {
    background: black;
    position:relative;
    
    color: #ffffff;
    width: 16vw;
    font-size: 2.5vmin;
    line-height: 8.5vmin!important;
    border-radius: 5px;
    height: 100%;
    -webkit-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
}

.bar-light .button {
    padding: 3vh;
    width: 20%;
    background-color: black;
    font-weight: bold;
    color: white;
    font-size: small;
}

/*
.bar-footer {
    position: fixed;
    padding: 0px;
    marigin: auto;
    height: 10%;
    overflow: scroll;
    bottom: 0;
    overflow-x: auto;
    overflow-y: false;
}
*/
#product-display-row {
    padding: auto;
    width: 100%;
    height: 98%;
}

#product-display-col1 {
    font-size-adjust: auto;
    font-size: 1.5vh;
    position: relative;
    width: 32%;
    height: 18%;
    background: black;
    color: white;
    margin: 0.5vh;
}

#quantityBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

#product-billing-col1 {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    color: white;
}

#product-price {
    left: 0;
    padding-top: .5vmin;
    top: 0;
    text-align: center;
    vertical-align: center;
    position: absolute;
    background: black;
    height: 4vmin;
    border-radius: 0.5vmin;
    width: auto;
    min-width: 3vmin;
    min-width: 4vmin;
    font-size: 2vmin;
    width: auto;
    opacity: 0.7;
    line-height: 2.5vmin;
}
.proEdit {
    position:absolute;
    z-index:1;
    font-size:4vmin;
    line-height:7vmin;
    text-align:center;
    height:7vmin;
    width:7vmin;
    color:white;
    bottom:-10px;
    left:-4px;
    background:blue;
    border-radius:10px;
}

.proDelete {
    position:absolute;
    z-index:1;
    font-size:7vmin;
    height:7vmin;
    width:5vmin;
    color:red;
    top:-10px;
    right:-4px;
}

#product-stock {
    right: 0;
    top: 0vh;
    position: absolute;
    background: grey;
    color: white;
    height: 4vmin;
    border-radius: 0.5vmin;
    width: auto;
    min-width: 3vmin;
    opacity: 0.9;
    font-size: 2.5vmin;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5vmin;
}

#product-stock-text {
    opacity: 1;
    color: white;
    vertical-align: middle;
    line-height: 2.5vmin;
    transform: translateY(25%);
    margin-left: 5px;
    margin-right: 5px;
}

#product-name {
    left: 0;
    bottom: 2px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 0;
    position: absolute;
    background-color: rgba(10,10,10,0.6);
    font-size: 2.5vmin;
    font-weight: bold;
    line-height: 4vmin;
    height: 4vmin;
    border-radius: 0.5vmin;
}

.product-image {
    border-radius: 2vmin;
    position: relative;
    width:100%;
    height:100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
}

.totalAmountCalculation p { 
  font-size:2vmin;
  color:white;
  line-height:1.5vmin;
  text-align:right;
  font-weight:bold;   
}

.sam-cust-bar .button.button-block {
    margin-top: 0;
    margin-bottom: 0;
}

.sam-input-item {
    border: none;
    height: 12vmin;
    padding: 0;
    background-color: rgba(255,255,255,0.9);
}

.inputview {
    height: 100%;
    vertical-align: middle;
    padding: 1vmin;
    text-align: right;
    margin: 0;
    font-size: 10vmin;
    color: #500200;
    border: 1px solid #cecece;
    display: block
}

#model-view {
    top: 0px;
    left: 36vmax;
    width: 64vmax;
    height: 100vmin;
    background: rgba(34,34,34,0.90);
    z-index: 99;
}

#holdModal {
    width: 90%;
    height: 85%;
    left: 5%;
    top: 5%;
}

#quantity-close {
    margin-top: 2px;
    margin-right: 2px;
}

#recallModal {
    width: 100%;
    height: 90%;
    top: 0vh;
    left: 0vh;
}

#recallModal button .icon {
}

.recallTabs {
    width: 85%;
    height: 80%;
    left: 6%;
    top: 10%;
}

#quantity-close {
    color: black;
}

.modal-backdrop-bg {
    background-color: rgba(204, 204, 204, 0.01);
}

.modal-open .modal-backdrop {
    pointer-events: none;
}

#productContentDiv, #categoryContentDiv {
    width: 90%;
    margin: auto;
}

#productContentDiv input[readonly="readonly"] {
    background-color: transparent;
}

input.printerSettingtext {
    border: 0.1vh solid #b2b2b2;
    width: 200px;
}

#currency {
    width: 55%;
}

#payment {
    width: 55%;
}

.pySttg.item-radio .item-content {
    margin-left: 5vh;
}

.pySttg.item-radio .ion-checkmark {
    top: 0;
    left: 0;
    position: absolute;
    width: 10%;
    border-radius: 60%;
    line-height: 1vh;
    color: black;
}

#categaryModal {
    position: absolute;
    top: 25%;
    height: 30vh;
    width: 50%;
    left: 25%;
}

#errorMessage {
}

.red {
    border-color: red;
    color: red;
}

.editProHead {
    margin: 10vh;
}

#productsViewSlideBox {
    top: 5vmin;
    height: 100%;
    width: 100%;
    margin: 0vh;
    white-space: nowrap;
}

.salesReport p{
    font-style: italic;
    font-size: 2.3vh;
    font-weight: bold;
}

#salesReportHeading {
    background-color: black;
    color: white;
}

.salesReportFont {
    font-style: italic;
    font-size: 3vh;
    font-weight: bold;
    border: 1px solid white;
    padding: 10vh;
    margin: 0;
}

.salesReportitemFont {
    font-style: italic;
    font-size: 3vh;
    border: 1px solid black;
    padding: 10vh;
    margin: 0;
}

#salesReportHeader {
    font-weight: bold;
    background: black;
    font-size: 3vh;
    color: white;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300); html {
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    font-smooth: always;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.txtright {
    text-align: right;
}

.txtcenter {
    text-align: center;
}

.phone {
    width: 300px;
    height: auto;
    background: #fff;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
}

.frame {
    width: 100%;
    height: 100%;
}

.topbar {
    font-size: 8px;
}

.toptxt {
    font-size: 11px;
    font-weight: bold;
}

.iconbig {
    font-size: 12px;
}

.bar {
    margin: 0 auto;
    padding: 2px 5px;
    width: 100%;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    width: 33.333333333333%;
    height: 16vmin;
    margin: 0;
    float: left;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.numbers-cont {
    width: 60vmin;
    height: 100vmin;
    display: inline-block;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vmin;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #333;
    border: 0.2vmin solid #ccc;
    width: 14vmin;
    height: 14vmin;
    line-height: 20px;
    padding-top: 4vmin;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number-circle .num {
    font-size: 6vmin;
    color: white;
    /*  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;*/
    /* -moz-animation: neon2 1.5s ease-in-out infinite alternate;*/
    /* animation: neon2 1.5s ease-in-out infinite alternate;*/
}

.number-circle:active {
    font-size: 6vmin;
    color: white;
    -webkit-animation: neon2 2.5s ease-in-out infinite alternate;
    -moz-animation: neon2 2.5s ease-in-out infinite alternate;
    animation: neon2 4.5s ease-in-out infinite alternate;
}

.number-circle .textkey {
    font-size: 6vmin;
    color: white;
}

.number-circle .abc {
    font-size: 10px;
    text-transform: uppercase;
}

.number-circle-star {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    line-height: 18px;
    padding-top: 24px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number-circle-star .num {
    font-size: 30px;
}

.number-circle-ladd {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    line-height: 18px;
    padding-top: 20px;
    text-align: center;
    margin: 5px auto;
    background-color: transparent;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number-circle-ladd .num {
    font-size: 30px;
}

/*
.number-circle:hover,
.number-circle-ladd:hover,
.number-circle-star:hover {
    background: #D6CEC3;
    color: #fff;
}*/
.call-cont {
    width: 100%;
    text-align: center;
}

.call-circle {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    font-size: 40px;
    padding-top: 3px;
    color: #fff;
    background: #4CD964;
    transition-property: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    -webkit-transition: all .2s ease-in 0s;
    -o-transition: all .2s ease-in 0s;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.call-circle:hover {
    background: #257533;
    color: #ccc;
}

.bottom {
    margin: 0 auto;
    padding: 2px 5px;
    width: 100%;
    display: table;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    font-size: 23px;
    line-height: 15px;
}

.bottom .grid {
    width: 20%;
    margin: 0;
    float: left;
    display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom .grid.active {
    color: #1D62F0;
}

.bottom .txt {
    font-size: 11px;
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

.big-icon {
    font-size: 150%;
}

.has-header {
    top: 0px;
}

.jiggle {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }

    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }

    50% {
        -webkit-transform: rotate(1deg);
    }
}

.backgroundProduct {
    background: url('../img/downloaded.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
}

.backgroundPOS {
    background: url('../img/background.jpg') no-repeat center;
    background-color: rbga(0,0,0,0.9);
    height: 100%;
}

#logo {
    position: fixed;
    top: 500px;
    right: 25px;
    opacity: 0.5;
}

#logo:hover {
    opacity: 1;
}

caption {
    font-size: 64px;
    margin: 25px;
    color: #222;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
}

table.billList {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
}

table.billList td, th {
    padding: 16px;
    width: 200px;
    line-height: 18px;
    font-weight: 300;
}

table.billList thead {
    display: block;
    background: rgba(255, 255, 255, 0.5);
}

table.billList th {
    border-bottom: 0;
    color: white;
    color: #444;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}

table.billList th:last-child {
    width: 219px;
}

table.billList tbody {
    width: 100%;
    max-height: 55vh;
    min-height: 0px;
    overflow: auto;
    display: block;
}

table.billList tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.15);
}

table.billList tr td:first-child {
    font-weight: bold;
}

/*---*/
table.productlist {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.15);
    font-size:2vmin;
    font-weight:bold;
    line-height:4.5vmin;
}


table.productlist td, th {
    padding: 16px;
    width: 200px;
    line-height: 18px;
    font-weight: 300;
}

table.productlist thead {
    display: block;
    background: rgba(255, 255, 255, 0.5);
}

table.productlist th {
    border-bottom: 0;
    color: white;
    color: #444;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}

table.productlist th:last-child {
    width: 219px;
}

table.productlist tbody {
    width: 90%;
    max-height: 82vh;
    min-height: 0px;
    overflow: auto;
    display: block;
}

table.productlist tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.15);
}

table.productlist tr td:first-child {
    font-weight: bold;
}

button.ion-ios-camera i:before {
    font-size: 15vmin !important;
}

.productAddSlide .input-label {
    color: black;
    text-shadow: 1px 1px #9b9494;
    font-size:3.2vmin;
    font-style:italic;

}

.productAddSlide input {
    color: black;
    font-size:3vmin;
    font-style:italic;
}
 .productAddSlide input::-webkit-input-placeholder {
  color:grey;
  font-size:2.5vmin;
  font-style:italic;  
}

table.tableInfolist {
    text-align: left;
    width: 100vw;
    height:78vh;
    border-collapse: collapse;
    margin: 0 auto;
    
}

table.tableInfolist td, th {
    padding: 1vh;
    width: 20vw;
    line-height: 3vh;
    font-weight: 300;
    padding-bottom:2vh;
}

table.tableInfolist thead {
    display: block;
    background: rgba(255, 255, 255, 0.5);
}

table.tableInfolist th {
    border-bottom: 0;
    color: white;
    color: #444;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}

table.tableInfolist tbody {
    width: 100%;
    max-height: 82vh;
    min-height: 0px;
    overflow: auto;
    display: block;
}

table.tableInfolist th:last-child {
    width: 219px;
}

table.tableInfolist tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.15);
}
.tableInfoView {
    width:100vw;
    height:100vh!important;
   
}


table.tableInfolist tr td:first-child {
    font-weight: bold;
}

.tableInfo-desc {
    left: 0;
  
    text-align: center;
    color: white;
  
    position: absolute;
    background-color: rgba(10,10,10,0.6);
    font-size: 2.5vmin;
    font-weight: bold;
  
 
    border-radius: 0.5vmin;
}

.tableInfo-capacity {
    bottom: 3px;
    text-align: center;
    color: white;
    position: absolute;
    background-color: transparent;
    font-size: 2.5vmin;
    font-weight: bold;
    margin: 0 auto;
    left: 0;
    right: 0;
    height:33%;
}
.tableInfo-capacity p{
    text-align:center;
    margin-top:2vh;
}


.tableInfoNumber {
    margin: auto;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    position: absolute;
    background: transparent;
    color: white;
    height: 33%;
    border-radius: 0.5vmin;
    min-width:5vmin;
    opacity: 0.9;
    font-size: 2.3vmin;
    font-weight: normal;
    text-align: center;
    line-height: 2.5vmin;
}

.tableInfoNumber p{
    text-align:center;
    margin-top:1vh;
}

.tableInfo-occupancy {
    padding-top: .5vmin;
    top: 0;
    color:white;
    text-align: center;
    vertical-align: center;
    position: absolute;
    background: transparent;
    height: 33%;
    border-radius: 0.5vmin;
    min-width: 1vmin;
    font-size: 2.5vmin;
    font-weight: bold;
    line-height: 2.5vmin;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.tableInfo-occupancy p{
    text-align:center;
    margin-top:0vh;
}


.tableInfo-image {
    width:100%; 
    height:100%;
    text-align:center;
    margin-left:3vh;
}


.tableInfolistDiv {
    position:relative;
    min-height:15vh;
    background-color:#969494;
    border-radius: 1vmin;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
    -moz-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
    box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
}

.tableInfolistDivRunning {
    position:relative;
    min-height:15vh;
    background-color:#f56b6b;
    border-radius: 1vmin;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
    -moz-box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
    box-shadow: 5px 5px 5px 0px rgba(128,128,128,0.6);
}

.tableInfo-section {
    position: absolute;
    bottom:0px;
    width: 100vw;
    height: 10vh;
    display: inline-block;
    line-height: 10vh;
    z-index: 0;
    margin-top:1vh;
    margin-bottom:2vh;
}

.tableInfo-section-scroll {
    bottom: 0px;
    position:absolute;
    width: 100%;
    height: 16vh;
    overflow-x: scroll;
    white-space: nowrap;
}

.tableInfo-section-button {
    background: black;
    color: #ffffff;
    width: 16vw;
    font-size: 2.5vmin;
    line-height: 8vmin!important;
    border-radius: 5px;
    height: 100%;
    -webkit-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 7px -7px 5px 0px rgba(0,0,0,0.5);
}

.tableInfolistDiv > .tableDelete {
    position:absolute;
    z-index:1;
    height:7vmin;
    width:5vmin;
    color:red;
    top:-10px;
    right:-4px;
}
.tableInfolistDiv > .tableEdit {
    position:absolute;
    z-index:1;
    line-height:7vmin;
    text-align:center;
    height:6vmin;
    width:6vmin;
    color:white;
    bottom:-10px;
    left:-4px;
    background:blue;
    border-radius:10px;
}

.tableInfolistDivRunning > .tableDelete {
    position:absolute;
    z-index:1;
    height:7vmin;
    width:5vmin;
    color:red;
    top:-10px;
    right:-4px;
}
.tableInfolistDivRunning > .tableEdit {
    position:absolute;
    z-index:1;
    line-height:7vmin;
    text-align:center;
    height:6vmin;
    width:6vmin;
    color:white;
    bottom:-10px;
    left:-4px;
    background:blue;
    border-radius:10px;
}
.tableInfolistDiv > .ion-close-circled {
    font-size:5.5vmin;
}
.tableInfolistDiv > .ion-edit{
    font-size:3vmin;
}


.tableInfolistDivRunning > .ion-close-circled {
    font-size:5.5vmin;
}
.tableInfolistDivRunning > .ion-edit{
    font-size:3vmin;
}

#prinrSettings input, #pwdChangeContent input {
    border:0px;
    margin-left:1vh;
}


